@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
h1 {
  font-size: 80px;
  line-height: 88px;
  letter-spacing: -2.5px;
}

h2 {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -1.5px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

p {
  font-size: 18px;
  line-height: 28px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "space grotesk";
  color: #fff;
}

br {
  display: none;
}

header, main {
  background-color: #151515;
}

footer, #contact {
  background-color: #242424;
}

button, input[type=submit] {
  width: fit-content;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 2px;
  border: none;
  border-bottom: 2px solid #4EE1A0;
  padding-bottom: 12px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

button:hover, input[type=submit]:hover {
  color: #4EE1A0;
}

.socmed {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 150px;
  margin: auto;
  position: relative;
  z-index: 2;
  color: #fff;
}

.socmed a:hover svg path {
  fill: #4EE1A0;
}

header {
  text-align: center;
  position: relative;
  padding-bottom: 80px;
}
header .background-rings {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/pattern-rings.svg);
  background-repeat: no-repeat;
  background-position: -350px 125px;
}
header .background-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/pattern-circle.svg);
  background-repeat: no-repeat;
  background-position: calc(100% + 60px) 275px;
}
header .absolute {
  position: absolute;
  width: 100%;
  margin: auto;
}
header .absolute p {
  font-size: 24px;
  padding: 20px 0;
  color: #fff;
}
header #picture {
  width: 100%;
}
header #picture #mobile {
  position: relative;
  z-index: 1;
  width: 175px;
  margin: auto;
}
header #picture #tablet {
  display: none;
}
header #picture #desktop {
  display: none;
}
header .header-text h1 {
  font-size: 40px;
  line-height: 40px;
  padding: 40px 15px;
}
header .header-text h1 span {
  border-bottom: 4px solid #4EE1A0;
}
header .header-text p {
  padding: 0 15px;
  font-size: 16px;
  margin-bottom: 25px;
  color: #D9D9D9;
}
header .header-text button {
  position: relative;
  z-index: 2;
}
header .line {
  border-bottom: 1px solid #fff;
  padding-top: 92px;
  width: 90%;
  margin: auto;
}

main {
  text-align: center;
}
main #experience {
  position: relative;
}
main #experience .background-rings {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/pattern-rings.svg);
  background-repeat: no-repeat;
  background-position: calc(100% + 340px) 615px;
}
main #experience li {
  padding-bottom: 25px;
}
main #experience li h2 {
  font-size: 32px;
}
main #experience li p {
  font-size: 16px;
  line-height: 26px;
  color: #D9D9D9;
}
main .line {
  border-top: 1px solid #fff;
  padding-bottom: 80px;
  width: 90%;
  margin: 40px auto 0 auto;
}
main #projects .header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
main #projects .header-row h1 {
  font-size: 40px;
}
main #projects .header-row button {
  z-index: 2;
}
main #projects ul {
  list-style: none;
  padding-bottom: 90px;
}
main #projects ul li {
  width: 90%;
  margin: auto;
  text-align: left;
}
main #projects ul li .button-hover {
  display: none;
}
main #projects ul li img {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 40px;
}
main #projects ul li h3 {
  padding-bottom: 10px;
  text-transform: uppercase;
}
main #projects ul li p {
  padding-bottom: 20px;
  color: #D9D9D9;
  text-transform: uppercase;
  word-spacing: 20px;
}
main #projects ul li button {
  margin-right: 30px;
}
main .background-rings {
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/pattern-rings.svg);
  background-repeat: no-repeat;
  background-position: calc(100% + 350px) 620px;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}
main #contact {
  padding-top: 60px;
  position: relative;
}
main #contact h1 {
  font-size: 40px;
}
main #contact p {
  color: #D9D9D9;
  font-size: 16px;
  padding: 0 5px;
  padding-bottom: 50px;
  width: 90%;
  margin: auto;
}
main #contact form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  align-items: end;
  padding-bottom: 80px;
  border-bottom: 1px solid #fff;
}
main #contact form .error-div {
  color: #ff7a7a;
  margin-top: 5px;
  position: relative;
}
main #contact form .error-div i {
  position: absolute;
  top: -40px;
  right: 0;
}
main #contact form input[name=name], main #contact form input[name=email], main #contact form input[name=message] {
  width: -webkit-fill-available;
  background-color: #242424;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 0 0 15px 25px;
  font-weight: bold;
}
main #contact form input[name=email], main #contact form input[name=message], main #contact form input[type=submit] {
  margin-top: 30px;
}
main #contact form input[name=message] {
  position: relative;
  height: 100px;
}
main #contact form input[name=message]::placeholder {
  position: absolute;
  top: 0;
}

footer {
  text-align: center;
  padding-bottom: 60px;
}
footer h5 {
  font-size: 24px;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  header {
    position: relative;
  }
  header .background-circle {
    z-index: 1;
    background-position: calc(100% + 60px) 460px;
  }
  header .background-rings {
    background-position: -280px 70px;
  }
  header .absolute {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  header .absolute p {
    padding: 30px 0 90px 30px;
    margin: 0;
    font-size: 32px;
  }
  header .absolute .socmed {
    margin: 0;
    padding: 30px;
  }
  header #picture {
    position: absolute;
    width: 320px;
    top: 0;
    right: 0;
    z-index: 0;
  }
  header #picture #mobile {
    display: none;
  }
  header #picture #tablet {
    display: inline;
    width: 100%;
  }
  header .header-text {
    position: relative;
    padding-left: 5%;
    width: 445px;
    text-align: left;
  }
  header .header-text br {
    display: inline;
  }
  header .header-text h1 {
    font-size: 72px;
    line-height: 72px;
    padding: 0;
  }
  header .header-text p {
    padding: 0;
    padding-top: 80px;
    font-size: 18px;
  }

  main .background-rings {
    background-position: calc(100% + 300px) 330px;
  }
  main #experience {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    list-style: none;
    padding-bottom: 50px;
  }
  main #experience li {
    width: 50%;
    text-align: left;
    padding-bottom: 50px;
  }
  main #experience li h2 {
    font-size: 48px;
    padding-bottom: 15px;
  }
  main #experience li p {
    font-size: 18px;
  }
  main #experience .line {
    display: none;
  }
  main #projects .header-row h1 {
    font-size: 72px;
  }
  main #projects ul {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
  }
  main #projects ul li {
    width: calc(50% - 20px);
    padding: 10px;
  }
  main #contact .background-rings {
    background-position: -380px 470px;
  }
  main #contact p, main #contact form {
    width: 445px;
  }
  main #contact h1 {
    font-size: 72px;
  }
  main #contact p {
    font-size: 18px;
  }
  main #contact form {
    border: none;
  }

  footer .wrapper {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    border-top: 1px solid #fff;
    padding-top: 30px;
  }
  footer .wrapper .line {
    border-top: 1px solid #fff;
  }
  footer .wrapper h5 {
    padding: 0;
  }
  footer .wrapper .socmed {
    margin: 0;
  }
}
@media only screen and (min-width: 1440px) {
  header {
    position: relative;
    height: 720px;
    padding-bottom: 100px;
  }
  header .background-circle {
    background-position: calc(100% - 550px) 520px;
  }
  header .background-rings {
    background-position: -100px 130px;
  }
  header .absolute p {
    padding: 0;
    padding-top: 40px;
  }
  header .absolute .socmed {
    padding: 0;
    padding-top: 40px;
    padding-right: 30px;
  }
  header .wrapper {
    width: calc(100% - (165px * 2));
    position: relative;
    margin: auto;
    height: fit-content;
  }
  header .wrapper #picture {
    position: absolute;
    width: 445px;
    top: 0;
    right: 0;
    z-index: 0;
  }
  header .wrapper #picture #tablet {
    display: none;
  }
  header .wrapper #picture #desktop {
    display: block;
    width: 100%;
  }
  header .wrapper .header-text {
    position: relative;
    z-index: 2;
    padding-left: 0;
    padding-top: 125px;
    width: 725px;
  }
  header .wrapper .header-text br {
    display: none;
  }
  header .wrapper .header-text h1 {
    font-size: 88px;
    line-height: 88px;
    padding: 0;
  }
  header .wrapper .header-text p {
    padding: 0;
    padding-top: 40px;
    font-size: 18px;
    width: 445px;
  }
  header .wrapper .header-text button {
    padding-top: 65px;
  }
  header .wrapper .line {
    display: none;
  }

  main #experience, main #projects {
    width: calc(100% - (165px * 2));
    margin: auto;
  }
  main .background-rings {
    background-position: calc(100% + 200px) 240px;
  }
  main #experience {
    border-top: 1px solid #fff;
    padding-top: 70px;
  }
  main #experience li {
    width: 33%;
  }
  main #projects {
    padding-bottom: 140px;
  }
  main #projects .header-row {
    margin: 0;
    width: 100%;
    padding-bottom: 80px;
  }
  main #projects ul {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  main #projects ul li {
    position: relative;
    line-height: 0;
  }
  main #projects ul li img {
    margin: 0;
  }
  main #projects ul li .image-filter {
    position: relative;
    width: 100%;
    height: auto;
  }
  main #projects ul li .button-hover {
    display: flex;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  main #projects ul li .button-hover button {
    margin: 0;
  }
  main #projects ul li .button-hover button:first-child {
    margin-bottom: 60px;
  }
  main #projects ul li .button-hover:hover {
    opacity: 1;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.7);
  }
  main #projects ul li .button-hover:not(:hover) {
    opacity: 0;
    transition: 0.5s;
  }
  main #projects ul li h3 {
    padding-top: 20px;
  }
  main #projects ul li .button-div {
    display: none;
  }
  main #contact .background-rings {
    background-position: -200px 240px;
  }
  main #contact .wrapper {
    text-align: left;
    width: calc(100% - (165px * 2));
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  main #contact .wrapper .contact-text p {
    padding-top: 30px;
  }
  main #contact .wrapper form {
    margin: 0;
    padding: 0;
  }

  footer {
    padding-top: 80px;
  }
  footer .wrapper {
    width: calc(100% - (165px * 2));
  }
}

/*# sourceMappingURL=style.css.map */
