// FONT
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

// COLORS
$c-black: #151515;
$c-green: #4EE1A0;
$c-dark-grey: #242424;
$c-light-grey: #D9D9D9;
$c-white: #fff;

// TYPOGRAPHY
h1 {
	font-size: 80px;
	line-height: 88px;
	letter-spacing: -2.5px;
}

h2 {
	font-size: 48px;
	line-height: 56px;
	letter-spacing: -1.5px;
}

h3 {
	font-size: 24px;
	line-height: 32px;
}

p {
	font-size: 18px;
	line-height: 28px;
}

// RESET
* {
	margin: 0;
	padding: 0;
	font-family: "space grotesk";
	color: $c-white;
}

br {
	display: none;
}

header, main {
	background-color: $c-black;
}

footer, #contact {
	background-color: $c-dark-grey;
}

button, input[type="submit"] {
	width: fit-content;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 2px;
	border: none;
	border-bottom: 2px solid $c-green;
	padding-bottom: 12px;
	background-color: rgba(0, 0, 0 , 0);
	cursor: pointer;
}

button:hover, input[type="submit"]:hover {
	color: $c-green;
}

.socmed {
	display: flex;
	justify-content: space-between;
	list-style: none;
	width: 150px;
	margin: auto;
	position: relative;
	z-index: 2;
	color: $c-white;

	
}

.socmed {
	a:hover {
		svg path {
			fill: $c-green;
		}
	}
}

header {
	text-align: center;
	position: relative;
	padding-bottom: 80px;

	.background-rings {
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: url(../assets/images/pattern-rings.svg);
		background-repeat: no-repeat;
		background-position: -350px 125px;
	}
	
	.background-circle {
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: url(../assets/images/pattern-circle.svg);
		background-repeat: no-repeat;
		background-position: calc(100% + 60px) 275px;
	}

	.absolute {
		position: absolute;
		width: 100%;
		margin: auto;
		p {
			font-size: 24px;
			padding: 20px 0;
			color: $c-white;
		}
	

	}


	#picture {
		width: 100%;


		#mobile {
			position: relative;
			z-index: 1;
			width: 175px;
			margin: auto;
		}

		#tablet {
			display: none;
		}

		#desktop {
			display: none;
		}
	}

	.header-text{
		
		h1 {
			font-size: 40px;
			line-height: 40px;
			padding: 40px 15px;

			span {
				border-bottom: 4px solid $c-green;
			}
		}

		p {
			padding: 0 15px;
			font-size: 16px;
			margin-bottom: 25px;
			color: $c-light-grey;
		}

		button {
			position: relative;
			z-index: 2;
		}
	}


	.line {
		border-bottom: 1px solid $c-white;
		padding-top: 92px;
		width: 90%;
		margin: auto;
	}
}

main {
	text-align: center;


	#experience {
		position: relative;

		.background-rings {
			position: absolute;
			width: 100%;
			height: 100%;
			background-image: url(../assets/images/pattern-rings.svg);
			background-repeat: no-repeat;
			background-position: calc(100% + 340px) 615px;
		}

		li {
			padding-bottom: 25px;

			h2 {
				font-size: 32px;
			}
	
			p {
				font-size: 16px;
				line-height: 26px;
				color: $c-light-grey;
			}
		}
	}

	.line {
		border-top: 1px solid $c-white;
		padding-bottom: 80px;
		width: 90%;
		margin: 40px auto 0 auto;
	}

	#projects {
		.header-row {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 90%;
			margin: auto;

			h1 {
				font-size: 40px;
			}

			button {
				z-index: 2;
			}
		}

		ul {
			list-style: none;
			padding-bottom: 90px;
			li {
				width: 90%;
				margin: auto;
				text-align: left;

				.button-hover {
					display: none;
				}

				img {
					width: 100%;
					margin-bottom: 20px;
					margin-top: 40px;
				}

				h3 {
					padding-bottom: 10px;
					text-transform: uppercase;
				}

				p {
					padding-bottom: 20px;
					color: $c-light-grey;
					text-transform: uppercase;
					word-spacing: 20px;
				}

				button {
					margin-right: 30px;
				}
			}
		}
	}

	// Contact background rings
	.background-rings {
		width: 100%;
		height: 100%;
		background-image: url(../assets/images/pattern-rings.svg);
		background-repeat: no-repeat;
		background-position: calc(100% + 350px) 620px;
		position: absolute;
		z-index: 1;
		pointer-events: none;
	}

	#contact {
		padding-top: 60px;
		position: relative;


		h1 {
			font-size: 40px;
		}

		p {
			color: $c-light-grey;
			font-size: 16px;
			padding: 0 5px;
			padding-bottom: 50px;
			width: 90%;
			margin: auto;
		}

		form {
			position: relative;
			display: flex;
			flex-direction: column;
			width: 90%;
			margin: auto;
			align-items: end;
			padding-bottom: 80px;
			border-bottom: 1px solid $c-white;

			.error-div {
				color: #ff7a7a;
				margin-top: 5px;
				position: relative;
				
				i {
					position: absolute;
					top: -40px;
					right: 0;
				}
			}

			input[name="name"], input[name="email"], input[name="message"] {
				width: -webkit-fill-available;
				background-color: $c-dark-grey;
				border: none;
				border-bottom: 1px solid $c-white;
				padding: 0 0 15px 25px;
				font-weight: bold;
			}

			input[name="email"], input[name="message"], input[type="submit"] {
				margin-top: 30px;
			}

			input[name="message"] {
				position: relative;
				height: 100px;
			}
			
			input[name="message"]::placeholder {
				position: absolute;
				top: 0;
			}

		}
	}
}

footer {
	text-align: center;
	padding-bottom: 60px;
	h5 {
		font-size: 24px;
		font-weight: bold;
		padding-top: 40px;
		padding-bottom: 20px;
	}

}

@media only screen and(min-width: 768px) {
	header {
		position: relative;

		.background-circle {
			z-index: 1;
			background-position: calc(100% + 60px) 460px;
		}

		.background-rings {
			background-position: -280px 70px;
		}

		.absolute {
			position: relative;
			display: flex;
			justify-content: space-between;

			p {
				padding: 30px 0 90px 30px;
				margin: 0;
				font-size: 32px;
			}

			.socmed {
				margin: 0;
				padding: 30px;
				
			}
		}
		
		#picture {
			position: absolute;
			width: 320px;
			top: 0;
			right: 0;
			z-index: 0;
			#mobile {
				display: none;
			}

			#tablet {
				display: inline;
				width: 100%;
			}
		}

		.header-text {
			position: relative;
			padding-left: 5%;
			width: 445px;
			text-align: left;

			br {
				display: inline;
			}

			h1 {
				font-size: 72px;
				line-height: 72px;
				padding: 0;
			}

			p {
				padding: 0;
				padding-top: 80px;
				font-size: 18px;
			}
		}
	}

	main {
		// experience background rings
		.background-rings {
			background-position: calc(100% + 300px) 330px;
		}
		
		#experience {
			display: flex;
			flex-wrap: wrap;
			width: 90%;
			margin: auto;
			list-style: none;
			padding-bottom: 50px;

			li {
				width: 50%;
				text-align: left;
				padding-bottom: 50px;
				h2 {
					font-size: 48px;
					padding-bottom: 15px;
				}

				p {
					font-size: 18px;
				}
			}

			.line {
				display: none;
			}
		}

		#projects {
			.header-row {
				h1 {
					font-size: 72px;
				}
			}

			ul {
				display: flex;
				flex-wrap: wrap;
				width: 90%;
				margin: auto;
				li {
					width: calc(50% - 20px);
					padding: 10px;

				}
			}
		}

		#contact {

			.background-rings {
				background-position: -380px 470px;
			}

			p, form {
				width: 445px;
			}

			h1 {
				font-size: 72px;
			}

			p {
				font-size: 18px;
			}

			form {
				border: none;
			}
		}
	}

	footer {
		.wrapper {
			width: 90%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: auto;
			border-top: 1px solid $c-white;
			padding-top: 30px;

			.line {
				border-top: 1px solid $c-white;
			}

			h5 {
				padding: 0;
			}

			.socmed {
				margin: 0;
			}
		}
	}
}

@media only screen and(min-width: 1440px) {
	header {
		position: relative;
		height: 720px;
		padding-bottom: 100px;

		.background-circle {
			background-position: calc(100% - 550px) 520px;
		}

		.background-rings {
			background-position: -100px 130px;
		}

		.absolute {
			p {
				padding: 0;
				padding-top: 40px;
			}

			.socmed {
				padding: 0;
				padding-top: 40px;
				padding-right: 30px;
			}
		}

		.wrapper {
			width: calc(100% - (165px * 2));
			position: relative;
			margin: auto;
			height: fit-content;
			#picture {
				position: absolute;
				width: 445px;
				top: 0;
				right: 0;
				z-index: 0;
	
				#tablet {
					display: none;
				}
	
				#desktop {
					display: block;
					width: 100%;
				}
			}
	
			.header-text {
				position: relative;
				z-index: 2;
				padding-left: 0;
				padding-top: 125px;
				width: 725px;
	
				br {
					display: none;
				}
	
				h1 {
					font-size: 88px;
					line-height: 88px;
					padding: 0;
				}
	
				p {
					padding: 0;
					padding-top: 40px;
					font-size: 18px;
					width: 445px;
				}

				button {
					padding-top: 65px;
				}
			}

			.line {
				display: none;
			}
		}
	}

	main {
		#experience, #projects {
			
		width: calc(100% - (165px * 2));
		margin: auto;
		}

		.background-rings {
			background-position: calc(100% + 200px) 240px;
		}

		#experience {
			border-top: 1px solid $c-white;
			padding-top: 70px;


			li {
				width: 33%;
			}
		}

		#projects {
			padding-bottom: 140px;

			.header-row {
				margin: 0;
				width: 100%;
				padding-bottom: 80px;
			}

			ul {
				width: 100%;
				margin: 0;
				padding: 0;

				li {
					position: relative;
					line-height: 0;
					
					img {
						margin: 0;
					}

					.image-filter{
						position: relative;
						width: 100%;
						height: auto;
					}

					.button-hover {
						display: flex;
						position: absolute;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						opacity: 0;
						width: 100%;
						height: 100%;
						top: 0;
						left: 50%;
						transform: translateX(-50%);
						button {
							margin: 0;
						}
						
						button:first-child {
							margin-bottom: 60px;
						}
					}

					.button-hover:hover {
						opacity: 1;
						transition: 0.5s;
						background-color: rgba(0, 0, 0, 0.7);
					}

					.button-hover:not(:hover) {
						opacity: 0;
						transition: 0.5s;
					}

					h3 {
						padding-top: 20px;
					}

					.button-div {
						display: none;
					}
				}
			}
		}

		#contact {

			.background-rings {
				background-position: -200px 240px;
			}
			
			.wrapper {
				text-align: left;
				width: calc(100% - (165px * 2));
				display: flex;
				justify-content: space-between;
				margin: auto;

				.contact-text {
					p {
						padding-top: 30px;
					}
				}

				form {
					margin: 0;
					padding: 0;
				}
			}

		}
	}

	footer {
		padding-top: 80px;

		.wrapper {
			width: calc(100% - (165px * 2));

		}
	}
}